<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/product/home/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product/productlist/">PRODUCT LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product/productadd/">PRODUCT ADD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customer/customerlist/">CUSTOMER LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customer/customeradd/">CUSTOMER ADD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order/orderlist/">ORDER LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order/orderadd/">ORDER ADD</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/authentication/loginpage/">LOGIN PAGE</a>
          </li> -->
           <li class="nav-item"></li>
            <a class="nav-link" href="/signup/">SIGNUP</a>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link" href="/logout/">LOGOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/product/about/">ABOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
